{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
  <div class="row">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h2>👋 {{ welcomeMessage }}</h2>
        </div>
    </div>
</div>
    <div class="flex-col">
        <h2>Voici les dernières images que tu as ajouté</h2>
        {% for image in lastThreeArticles %}
            {% for media in image.media %}
                <img src="{{ asset('uploads/attachments/' ~ media.imageName) }}" alt="{{ media.imageName }}" class="transition duration-300 ease-in-out hover:scale-110 mr-2" style="width: 150px;">
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
