.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top:1.5rem;
}
.description{
    margin-top:20px;
}
  .imagetitle{
    position:relative;
    height:200px;
    top:-200px;
    color:transparent;
    transition:all 0.3s linear;
  }
  .imagetitle:hover{
    position:relative;
    height:200px;
    top:-200px;
    text-align:left;
    background:rgba(0, 0, 0, 0.4);
  }
  .imagetitle p{
    position:absolute;
    width:200px;
    margin-top:10px;
    padding:5px;
    font-weight:bold;
    font-family:verdana;
    text-justify: left;
    color:transparent;
  }
  .imagetitle:hover p{
    color:white;
  }
.description div{
    font-family:verdana, sans-serif;
}