.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* This will make the container take the full height of the viewport */
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form .form-control {
  margin-bottom: 20px;
}
