@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Krylon";
  src: url("../fonts/Krylon-Regular.otf") format("opentype"),
    url("../fonts/Krylon-Regular.woff") format("woff"),
    url("../fonts/Krylon-Regular.woff2") format("woff2");
}
body {
  overflow-x: hidden;
}
header {
  position: fixed;
  width: 100vw;
  height: 200px;
  background: white;
  border-bottom: 1px solid lightgrey;
  z-index: 100;
}
.logo {
  position: relative;
  width: 200px;
  height: 200px;
  background: url(/asset/images/logo.png) no-repeat;
  background-size: contain;
}
.menu {
  position: fixed;
  height: 100vh;
  width: 200px;
  top: 0;
  left: 0;
  font-family: "Krylon";
  background:white;
  border-right:1px solid lightgray;
  z-index:100;
}
ul li{
  width:200px;
  height:40px;
  padding-left:10px;
  box-sizing:border-box;
}
ul li a{
  display:block;
  height:40px;
  width:180px;
  line-height:40px;
  transition:all 0.3s linear;
}
ul li a:hover{
  border-bottom:1px solid lightgray;
}
h2 {
  position: relative;
  top: 0px;
  font-family: "Krylon";
  font-size: 30px;
  text-align: center;
}
.subtitle{
  font-size:30px;
}
p{
  font-family:Verdana, sans-serif;
}
#indicators-carousel{
  position:absolute;
  top:300px;
}
.container{
  position:relative;
  top:300px;
}
.content{
  position:relative;
  top:50px;
  width:calc(100vw - 250px);
  left:225px;
}
.link{
  width:200px;
  height:250px;
  margin:10px;
}
.gallery{
  position:relative;
  width:80%;
  left:200px;
  top:100px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
.gallery a img {
 margin:5px;
}
.p-4{
  width:calc(100% - 300px);
  margin-left:250px;
  margin-top:150px;
}

/* contact form */
.form-container {
  padding-left: 200px;
}
