<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ asset('asset/krot.gif') }}"/> {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {% block meta %}{% endblock %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href={{ asset("asset/css/app.css") }}> {% block stylesheets %}{% endblock %}
          {% block og_meta %}
        <meta property="og:title" content="European Travel Destinations">
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
        <meta property="og:url" content="https://carottecake.com/">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:description" content="Peintures, gravuers, ateliers participatifs">
        <meta property="og:site_name" content="Caroline Marcellier">
        <meta name="twitter:image:alt" content="Caroline Marcellier auberge">
        <meta property="fb:app_id" content="your_app_id" />
        <meta name="twitter:site" content="@caroline-marceliier">
        {% endblock %}
        </head>
        <body>
            {% include '/components/menu.html.twig' %}
            {% block body %}{% endblock %}
            {% block footer %}
                {# {% include 'components/footer.html.twig' %} #}
            {% endblock %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
            <script src="{{ asset('asset/js/menu.js') }}"></script>
            <script src={{ asset('asset/js/cursor.js') }}></script>
        </body>
    </html>
