<footer class="footer bg-neutral-200 text-center dark:bg-neutral-700 lg:text-left">
    <div class="p-4 text-center text-neutral-700 dark:text-neutral-200">

        <p class="credits">@ 2024 : Les cerveaux derrière les pixels sont
            <a href="https://antoine-portfolio.projets.garage404.com" style="font-weight:bold" target="_blank">Antoine Chabeauti</a>, maître du code et
            <a href="https://www.jeromesauzet.fr" style="font-weight:bold" target="_blank">Jérôme Sauzet</a>, gourou du design à temps plein.
        </p>
        <p class="credits">
            <a href="https://www.instagram.com/rom_cool_k/?hl=fr" style="font-weight:bold" target="_blank">Romain Delrieu,</a>
            habile dessinateur toulousain. N’hésitez pas à les contacter pour les féliciter ou pour la création de votre page web.</p>
    </div>
</footer>
