<nav class="menu">
    <ul>
        <div class="logo"></div>
        <li>
            <h1>Caroline MARCELLIER</h1>
        </li>
        <li>
            <a href="/">Accueil</a>
        </li>
        {% for category in categories %}
            <li>
                <a href={{ path('app_category_show', {'id': category.id} ) }}>{{ category.titre }}</a>
            </li>
        {% endfor %}
        <li>
            <a href={{ path('contact') }}>Contact</a>
        </li>
    </ul>
</nav>
